.swiper {
  height: 100%;
  width: 100%;
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.swiper-pagination-bullet {
    margin: 0 4px;
    width: 10px !important;
    height: 10px !important;
  }
  
  .swiper-pagination-bullet-active {
    background: #0082c8 !important;
  }
