// Font
$ff-sans: 'Arima Madurai', sans-serif;

.ff-sans {
    font-family: $ff-sans;
  }

// Font weights
$fw-thin: 100;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

.fw-thin {
	font-weight: 100;
}
.fw-light {
	font-weight: 300;
}
.fw-normal{
	font-weight: 400;
}
.fw-medium {
	font-weight: 500;
}
.fw-bold{
	font-weight: 700;
}